@* Created by Trần Lục Long Tính *@

@model POS.Models.User
<div class="pull-left image">
    <img src="~/Content/UserAvatar/@Model.Avatar" class="img-circle" alt="User Image" />
</div>
<div class="pull-left info">
    <p>@Model.UserName</p>

    <i class="fa fa-circle text-success"></i> Online
</div>

@*  Created by Trần Lục Long Tính  *@